{% extends "base.html" %}

{% block top_content %}
<span id="title"><h1>Notifications</h1></span>
{% endblock %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/stylesheets/wall.css" type="text/css" media="screen" />
{% endblock %}



{% block main_content %}

<script type="text/javascript" charset="utf-8">

  // answer should be a plain text string: 'yes' or 'no'
  function submit(notif_id, answer)
  {
     var data = {"notif_id":notif_id, "answer":answer};
     $.post("{{notif_view_url}}", data, function(data) {
       $('#notif-yes-' + notif_id).hide();
       $('#notif-no-' + notif_id).hide();
       text_id = '#notif-text-' + notif_id;
       new_html = "<strong>" + data + "</strong> " + $(text_id).html();
       $(text_id).html(new_html);
     });
  }

  function submit_yes(notif_id)
  {
    submit(notif_id, 'yes');
    return false;
  }
  function submit_no(notif_id)
  {
    submit(notif_id, 'no');
    return false;
  }
</script>

{% for pending_notif in pending_notifs %}
  <div class="notif-box post-content">
    <div class="notif-text" id="notif-text-{{pending_notif.id}}">{{pending_notif.date}}: {{pending_notif.cast}}</div>
    <form method="post" action="{{ notif_view_url }}">{% csrf_token %}
        <input type="hidden" name="notif_id" value="{{pending_notif.id}}">
	{% if pending_notif.answer_no %}
        <button type="submit" class="notif-no" id="notif-no-{{pending_notif.id}}" 
	    name="answer" value="no">{{pending_notif.answer_no}}</button>
	{% endif %}
	{% if pending_notif.answer_yes %}
        <button type="submit" class="notif-yes" id="notif-yes-{{pending_notif.id}}"
	    name="answer" value="yes">{{pending_notif.answer_yes}}</button>
	{% endif %}
    </form>
  </div>

  <script type="text/javascript" charset="utf-8">
     /* Overwrite the default POST behavior. Is this code incomprehensible to you all?
        <3 conciseness, but it might be hard to understand if you're unused to jquery. */
     $('#notif-yes-{{pending_notif.id}}').click(function() { submit_yes({{pending_notif.id}}); return false; });
     $('#notif-no-{{pending_notif.id}}').click(function() { submit_no({{pending_notif.id}}); return false; });
  </script>
{% endfor %}

{% for old_notif in old_notifs %}
  <div class="notif-box post-content">
    <strong>{{old_notif.cast.answer_descrip}}</strong> {{old_notif.date}}: {{old_notif.cast}}
  </div>
{% endfor %}
</div>
{% endblock %}
