.main-container {
    width: 48%;
    margin: .5em;
    text-align: left;
}

.main-container h3 {
    margin: .5em;
    margin-bottom: 0;
    padding: 0;
}

.main-container p {
    margin: 1em;
    padding: 0;
}

.explanation {
    margin: 0 1em 0 2em;
    margin-bottom: 1.5em;
}

.explanation-image {
    margin: 0 auto;
}

.explanation-image img {
    display: block;
    padding: 0;
    margin: 0 auto;
}

.container-left {
    float: left;
}

.container-right-container {
    float: right;
    border: 0;
}

.container-right-containee {
    width: 99%;
    margin: 0;
    margin-bottom: 1em;
}

.container-top-bar {
    text-align: center;
}
