#left-content {
    padding: 1em;
    float: left;
    height: 100%;
    width: 20%;
}

#right-content {
    margin-left: 20%;
}

#top-content, #main-content {
    width: 95%;
    margin: .8em;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
}
