#left-content {
    padding: 1em;
    float: left;
    height: 100%;
    width: 20%;
}

#right-content {
    margin-left: 20%;
}

#top-content, #main-content {
    width: 95%;
    margin: .8em;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
}

.parent-word, .child-word {
    margin: 1em 0 0 0;
    padding: 0;
}

.child-list, .parent-list, .group-list {
    margin: 0;
    margin-left: 1.7em;
    padding: 0;
    border-left: 1px #888888 dotted;
}

.parent-list {
    margin-left: .8em;
}

.group-list-name {
    font-size: 1.5em;
    color: green;
}

.child-list li, .parent-list li, .group-list li {
    list-style: none;
    line-height: 1.5em;
}

.child-list-border {
    width: 6px;
    height: .8em;
    border-bottom: 1px #888888 dotted;
    float: left;
}

.child-name {
    margin-left: .3em;
}
