body {
    /* background-color: #FFE073;    light orange 
    background-image: url(/static/images/bgflowers.jpg); */
    background-image: url(/static/images/tree.gif);
    background-color: #358196;/*#D1D1D1;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left bottom; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

textarea, input {
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    border: 1px solid;
}

#wrap {
    width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0;
}

#header {
    padding: 1em;
    background-color: #3F3F3F;
   /* background-image: url(/static/images/tree.jpg); */
    border: 1px solid #000000;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    margin-top: 0;
    margin-bottom: 1em;
}

#header a {
    color: #FFFFFF;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header_logo {
    font-weight: bold;
    font-size: large;
    text-align: left;
    float: left;
}

#header_nav {
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

#header_nav ul {
    margin: 0;
    padding: 0;
}

#header_nav li {
    list-style: none;
    padding: 0 1em 0 0;
    display: inline-block;
}

#content {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#top-content, #main-content {
    width: 90%;
    margin: .8em auto;
    position: relative;
    overflow: hidden;
}

#subtitle, #title, #group-title {
    font-family: Verdana, Arial, sans-serif;
    padding: 0;
    margin: 1em 0;
    color: green;
}

#group-title-div {
    float: left;
    width: 60%;
}

#group-title {
    margin-bottom: .15em;
    padding-bottom: 0;
}

#group-title-blurb {
    margin-bottom: 1em;
}


#title {
    text-align: center;
}

#results {
}

#results-list {
    text-align: left;
}

#footer {
    padding: .8em;
    clear: both;
    font-size: small;
    color: #FFFFFF;
    background-color: #3F3F3F;
    border: 1px solid #000000;
    text-align: center;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    margin-top: 1em;
    margin-bottom: 0;
}

.error-message {
    color: #FF0000;
}

.form-field {
    line-height: 2em;
    text-align: left;
}

.form-field label {
  display: block;
  float: left;
  clear: left;
  width: 39%;
  position: relative;
  overflow: auto;
  text-align: right;
}

.form-field input {
  height: 1.143em;
  line-height: 1;
}

.form-error {
    background-color: #DDDDDD;
    color: #FF0000;
}

.main-container {
    word-break: break-word;
    text-align: center;
    margin: 0 auto 1em auto;
    padding-bottom: 1em;
    border: 1px solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.container-top-bar {
    margin: 0;
    padding: .3em;
    color: white;
    background-color: #3F3F3F;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

.group-list {
    list-style: none;
    padding: 0 1em 1em 1em;
    line-height: 2em;
    margin: 0;
}

a {
  /*  color: #e14adf; /* pink 
    color: #3F3F3F; /* grey */
  color: blue;
}

.cal-reset {
    font-size: 8pt;
}