body {
    /* background-color: #FFE073;    light orange 
    background-image: url(/static/images/bgflowers.jpg); */
    background-image: url(/static/images/tree.gif);
    background-color: #358196;/*#D1D1D1;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left bottom; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

textarea, input {
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    border: 1px solid;
}

a {
  /*  color: #e14adf; /* pink 
    color: #3F3F3F; /* grey */
  color: blue;
}

#wrap {
    width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0;
}

#header {
    padding: 1em;
    background-color: #3F3F3F;
   /* background-image: url(/static/images/tree.jpg); */
    border: 1px solid #000000;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    margin-top: 0;
    margin-bottom: 1em;
}

#header a {
    color: #FFFFFF;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header_logo {
    font-weight: bold;
    font-size: large;
    text-align: left;
    float: left;
}

#header_nav {
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

#header_nav ul {
    margin: 0;
    padding: 0;
}

#header_nav li {
    list-style: none;
    padding: 0 1em 0 0;
    display: inline-block;
}

#content {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#top-content, #main-content {
    width: 90%;
    margin: .8em auto;
    position: relative;
    overflow: hidden;
}

#subtitle, #title, #group-title {
    font-family: Verdana, Arial, sans-serif;
    padding: 0;
    margin: 1em 0;
    color: green;
}

#group-title-div {
    float: left;
    width: 70%;
}

#group-title {
    margin-bottom: .15em;
    padding-bottom: 0;
}

#group-title-blurb {
    margin-bottom: 1em;
}


#title {
    text-align: center;
}

#results {
}

#results-list {
    text-align: left;
}

#footer {
    padding: .8em;
    clear: both;
    font-size: small;
    color: #FFFFFF;
    background-color: #3F3F3F;
    border: 1px solid #000000;
    text-align: center;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    margin-top: 1em;
    margin-bottom: 0;
}

.error-message {
    color: #FF0000;
    text-align: center;
}

.form-field {
    line-height: 2em;
    text-align: left;
}

.form-field label {
  display: block;
  float: left;
  clear: left;
  width: 39%;
  position: relative;
  overflow: auto;
  text-align: right;
}

.form-field input {
  height: 1.143em;
  line-height: 1;
}

.form-error {
    background-color: #DDDDDD;
    color: #FF0000;
}

.form-error-list {
    text-align: center;
}

.form-error-list ul {
    list-style: none;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

.form-error-list ul li {
    margin: 0;
    padding: 0;
}

.form-help {
    font-style: italic;
    font-size: 8pt;
    color: #888888;
}

.form-error .form-help {
    color: black;
}

.main-container {
    word-break: break-word;
    text-align: center;
    margin: 0 auto 1em auto;
    padding-bottom: 1em;
    border: 1px solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.container-top-bar {
    margin: 0;
    padding: .3em;
    color: white;
    background-color: #3F3F3F;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

.group-list {
    list-style: none;
    padding: 0 1em 1em 1em;
    line-height: 2em;
    margin: 0;
}

.notif-box {
    padding: .4em;
    margin: 1em;
}

.notif-text {
   float: left;
}

.notif-yes, .notif-no {
   float: right;
}

.new-admin-bar ul, .new-admin-bar li {
    display: inline;
}

.photo-container-all {
    width: 95%;
    margin: 2em auto;
    text-align: center;
}

.photo-container-all, .photo-container {
    line-height: 150px;
}

.photo-container-all-top, .photo-container-top {
    height: 100px;
}

.photo-container-top {
    line-height: 80px;
}

/* I hope this works in IE */
.photo-container, .photo-text-container-top, .photo-container-top {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.photo-text-container-top {
    height: 130px;
    width: 110px;
    padding: 0;
    margin: 0 50px 0 0;
    display: inline-block;
}

.photo-text-container-top p {
    padding: 0;
    margin: 0;
}

.photo-container-top {
    width: 100px;
    height: 80px;
    margin: 0;
    padding: 0;
}

/* just in case the classes don't generate */
.photo-container img, .photo-container-top img {
    width: 100%;
    height: 100%;
}

img.fat-resize, img.fat-resize {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

img.tall-resize, img.tall-resize {
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.photo-container-top img.tall-resize, .photo-container-top img.fat-resize {
    vertical-align: bottom;
}

.photo-container {
    border: 3px double #cccccc;
    background-color: #000000;
}

/* width and height tied to photo-container */
.delete-photo {
    position: relative;
    height: 150px;
    width: 150px;
    top: -150px;
    overflow: hidden;
}

.delete-photo > .delete-photo-button {
    display: none;
}

.delete-photo:hover > .delete-photo-button {
    display: block; 
}

.photo-container:hover .delete-photo-button {
    display: block;
}

.delete-photo-button:hover {
    display: block;
}

.delete-photo-button {
    position: relative;
    z-index: 3;
}

.lightbox-gallery, .photo-container img {
    position: relative;
    z-index: 2;
}

.photo-container {
    z-index: -1;
}

.button-link{
    color:#000;
    padding:0px;
    font-family:Calibri, Arial, Helvetica, sans-serif;
    background:none;
    border:none;
    text-decoration:underline;
    cursor: pointer;
    display: inline;
    color: blue;
}

/* ---------- Notifications/newsfeed stuff ---------- */
/* notif boxes are practically the same as post boxes */
.notif-box {
    padding: .5em;
    background-color: #F5F5F5;
    text-align: left;
    border: 1px solid #000000;
    overflow: hidden;
}

.notif-box:hover {
    background-color: #FAFAFA;
}

/* ---------- user profile page ---------- */
.account-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}

.list-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.align-left {
    text-align: left;
}
