/*----- make room for the calendar ------*/

#top-calendar {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -170px;
    margin-top: -80px;
    width: 150px;
    height: 200px;
    float: right;
    cursor: default;
}

.cal-reset {
    font-size: 8pt;
    float: right;
}

.below-cal-content {
    width: 175px;
}

.datepick-status {
    font-size: 9pt;
}

#top-content {
    min-height: 170px; /* this must match the height of the calendar */
    overflow: visible;
}

/*----------------------------------------*/

/*-------------- tabs --------------------*/

.main-container-navigation-tabs .main-container {
    clear: both;
    border-radius: 0;
    -moz-border-radius: 0px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
}

.main-container-navigation-tabs {
    background: transparent;
}

.top-navigation-tabs ul {
	list-style: none;
	padding:0;
	margin:0;
    background: black;
}

.top-navigation-tabs li {
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
    background: #3F3F3F;
}

.top-navigation-tabs a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
	padding: .3em 2em;
    background: #888888;
}

.top-navigation-tabs a:hover {
    background: #555555;
}

.top-navigation-tabs #selected a {
	position: relative;
	top: 1px;
    background-color: #3F3F3F;
}

.container-top-bar {
    background-color: #3F3F3F;
    color: white;
    border-radius: 0;
    text-align: center;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
}

/*-----------------------------------------*/

.parent-name, .group-name {
}

.parent-none {
}

#sidebar {
    margin-bottom: 1em;
}

.group-interaction-buttons {
/*  this was messing up "edit introduction."
    hopefully it's ok to comment it out.
  
    position: absolute; */
    bottom: 0px;
}
.group-interaction-buttons li {
/*    float: left;
    display: inline; 
    list-style: none;*/
}

.filter-button {
    padding: .2em .5em;
    color: white;
    background-color: #5f5f5f;
    margin: .1em .6em;
    border: 1px solid #000000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.filter-button:hover {
    background-color: #000000;
    cursor: pointer;
}

.selected, .selected:hover {
    background-color: #ffffff;
    color: black;
}

.post-box {
    padding: .4em;
    margin: 1em;
}

.post-group-pic {
}

.post-group-name {
    font-size: 12pt;
    margin-top: .5em;
    font-weight: bold;
}

.post-via {
    font-style: italic;
    font-size: small;
}

.post-by-child-group {
}

.post-by-same-group a {
    color: green;
}


.event-title {
}

.event-details {
    margin: 0;
    padding: 0;
}

.event-place, .event-date {
    font-weight: bold;
    font-size: 11pt;
}

.event-flags {
}

.post-left-column {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
}

.post-content {
    padding: 0;
    margin-bottom: 0;
    background-color: #F5F5F5;
    text-align: left;
    border: 1px solid #000000;
    overflow: hidden;
}

.post-content:hover {
    background-color: #FAFAFA;
}

.post-votes {
    text-align: left;
    float: left;
    width: 3.5em;
    position: relative;
    padding: .2em;
    padding-right: 0;
    padding-left: 0;
    line-height: 1em;
}

.post-votes ul, .post-votes li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.post-votes ul {
    float: left;
}

.vote-score {
    position: absolute;
    margin-top: -.5em;
    top: 50%;
}

.up-button, .down-button {
    background: transparent;
    border: 0;
    margin: .1em .3em;
    cursor: pointer;
    width: 13px;
    height: 14px;
}

.up-button {
    background-image: url(/static/images/uparrow.gif);
}

.down-button {
    background-image: url(/static/images/downarrow.gif);
}

.up-selected {
    background-image: url(/static/images/uparrowselected.gif);
}

.down-selected {
    background-image: url(/static/images/downarrowselected.gif);
}

.post-text {
    float: left;
    font-size: small;
    width: 82%;
    margin-bottom: 1em;
}

.post-delete {
    float: right;
    margin: 0;
    padding-left: .8em;
    width: 5%;
}

.post-bottom-bar {
    clear: both;
    width: 100%;
    margin: 0;
    margin-top: 3em;
    padding: .18em;
  /*  background-color: #fbfbfb; */
}

.post-date {
    margin-left: 6.44em; 
    font-size: 8pt;
    color: #777777;
}


.delete-button {
    font-family: Monospace;
    font-size: small;
    background-color: #FFFFFF;
    background-image: url(/static/images/xbutton.gif);
    width: 15px;
    height: 15px;
    border: 0;
    padding: 0;
    margin: 5px;
}

.comments-all-div, .form-div {
    margin-left: 2.5em;
    padding: 0;
    margin-top: 0;
    border: 1px solid #000000;
    border-top: 0;
 /*   border-radius: 0 0 10px 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px; 
    */
}

.form-div {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 0;
    border-bottom: 0;
    padding-left: 1em;
}

.form-div-no-comments {
    border: 0 1px 1px 1px solid;
    border-radius: 0 0 10px 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;     border: 0;
}

.comments-all-div hr {
    border: 0;
    height: 1px;
    background-color: #cccccc;
    width: 96%;
}

.comment-content-div {
    margin-bottom: .22em;
}

.comment-delete {
    float: right;
    background: transparent;
    border: 0;
    color: blue;
    font-size: 8pt;
    text-decoration: underline;
    cursor: pointer;
}

.comment-reply-button, .post-reply-button {
    float: right;
    margin-left: 3em;
    margin-right: .7em;
    font-size: 8pt;
    text-decoration: underline;
    cursor: pointer;
}

.lonely-delete {
    margin-right: 5.61em;
    float: right;
}

.comment-reply-button {
    background: transparent;
    border: 0;
    color: blue;
}

.comment-bottom-bar ul, .comment-bottom-bar li {
    clear: both;
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.comment-bottom-bar ul {
}

.comment-bottom-bar span {
    margin: 0;
}

.load-more-comments-div {
    font-size: 8pt;
    margin: .1em;
}

.load-more-comments {
    text-decoration: underline;
    cursor: pointer;
}

.comment, .comment-post, .comment-login {
    border-top: 0px solid;
    margin-top: 0;
    text-align: left;
    padding: 0 .4em;
    overflow: hidden;
}

.comment:hover {
    background-color: #f5f5f5;
}

.comment-post {
    margin: 0;
}

/* javascript hides these until "see more" is clicked */
.comment-too-many, .hr-too-many {
    display: none;
}

.comment-post textarea {
    width: 100%;
    height: 2em;
}

.comment-post input[type="submit"], .comment-login input[type="submit"] {
    background: transparent;
    border: 0;
    margin: .2em -.45em .2em .2em;
    padding: 0;
    font-size: 10pt;
    text-decoration: underline;
    cursor: pointer;
}

.comment-first {
    padding-top: .5em;
}

.comment-login-text {
    font-size: 8pt;
}

.comment-level-1 {
    padding-left: 2.5em;
}

.comment-author {
    font-weight: bold;
}

.comment-author:after {
}

.comment-post {
    padding-top: .8em;
    text-align: right;
    overflow: hidden;
    padding-right: 2em;
    display: none;
}

.comment-label {
    font-size: small;
    font-style: italic;
    display: block;
    padding-left: 2em;
}

.comment-post textarea {
    float: left;
}

.comment-is-yours>.comment-author a {
    color: blue; /* special color or whatever for your own username... */
}

.delete-button:hover/*, .up-button:hover, .down-button:hover*/ {
    /* background-color: #FFC600;    orange */
    background-color: #EEEEEE;
}

.up-button:hover, .down-button:hover {
}

#wall-submit {
    text-align: center;
    margin-bottom: 1.5em;
}

.wall-success-text, .wall-error-text {
    background-color: #cccccc;
    margin: .5em auto;
    padding: .5em;
    width: 40%;
    text-align: center;
    font-weight: bold;
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.wall-error-text {
    color: red;
    border-color: red;
}

.button-subscribed {
    color: white;
    background-color: green;
}

#page-navigation ul, #page-navigation li {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 1em;
}

#filter-by-date-picker {
    display: none; 
    text-align: center;
    background-color: #ffffff; 
    border: none;
}

.group-image-div {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#change-admin-data {
    width: 550px;
    text-align: left;
    margin: 0 auto;
}

#edit-info-toggle {
    margin: 0 auto;
    text-align: center;
}

.group-info-edit-box {
    background-color: #cccccc;
    color: black;
    border: 2px solid white;
    margin: 1em;
    padding: 1em;
    width: 100%:
}

.group-info-edit-box h3 {
    margin-top: 0;
    padding-top: 0;
    text-decoration: underline;
}

.group-info-edit-box textarea {
    width: 90%;
    height: 5em;
}
