/*----- make room for the calendar ------*/

#top-calendar {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -190px;
    margin-top: -90px;
    width: 150px;
    height: 190px;
    float: right;
    cursor: default;
}

.cal-reset {
    font-size: 8pt;
    float: right;
}

#top-content {
    min-height: 190px; /* this must match the height of the calendar */
}

/*----------------------------------------*/

/*-------------- tabs --------------------*/

.main-container-navigation-tabs .main-container {
    clear: both;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.top-navigation-tabs ul {
	list-style: none;
	padding:0;
	margin:0;
}

.top-navigation-tabs li {
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}

.top-navigation-tabs a {
    display: block;
    text-align: center;
    font-size: 1.2em;
	padding: .3em 2em;
    background: #efefef;
}

.top-navigation-tabs a:hover {
    background: #cfcfcf;
}

.top-navigation-tabs #selected a {
	position: relative;
	top: 1px;
    background: white;
}

.top-navigation-tabs {
}

.container-top-bar {
    background: white;
    color: black;
}

/*-----------------------------------------*/

.parent-name, .group-name {
}

.parent-none {
}

#sidebar {
    margin-bottom: 1em;
}

.group-interaction-buttons {
    position: absolute;
    bottom: 0px;
}
.group-interaction-buttons li {
/*    float: left;
    display: inline; 
    list-style: none;*/
}

.filter-button {
    padding: .2em;
    background: #eeeeee;
    border: 1px solid #000000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.filter-button:hover {
    background: #cccccc;
}

.selected, .selected:hover {
    background-color: #AAAAAA;
}

.post-box {
    padding: .4em;
    margin: 1em;
}

.post-group-pic {
}

.post-group-name {
    font-size: 12pt;
    padding: .1em;
    font-weight: bold;
}

.post-via {
    font-style: italic;
    font-size: small;
}

.post-by-child-group {
}

.post-by-same-group a {
    color: green;
}


.event-title {
}

.event-details {
    margin: 0;
    padding: 0;
}

.event-place, .event-date {
    font-weight: bold;
    font-size: 11pt;
}

.event-flags {
}

.post-content {
    padding: .32em;
    background-color: #F5F5F5;
    text-align: left;
    border: 1px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;;
    overflow: hidden;
}

.post-votes {
    text-align: left;
    float: left;
    width: 7%;
    position: relative;
    padding: .2em;
    line-height: 1em;
}

.post-votes ul, .post-votes li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.post-votes ul {
    float: left;
}

.vote-score {
    position: absolute;
    margin-top: -.5em;
    top: 50%;
}

.up-button, .down-button {
    background: transparent;
    border: 0;
    margin: .1em .3em;
    cursor: pointer;
    width: 13px;
    height: 14px;
}

.up-button {
    background-image: url(/static/images/uparrow.gif);
}

.down-button {
    background-image: url(/static/images/downarrow.gif);
}

.up-selected {
    background-image: url(/static/images/uparrowselected.gif);
}

.down-selected {
    background-image: url(/static/images/downarrowselected.gif);
}

.post-text {
    float: left;
    font-size: small;
    width: 82%;
}

.post-delete {
    float: right;
    margin: 0;
    padding-left: .8em;
    width: 5%;
}

.comment-delete {
    clear: both;
    float: right;
}

.delete-button {
    font-family: Monospace;
    font-size: small;
    background-color: #FFFFFF;
    background-image: url(/static/images/xbutton.gif);
    width: 15px;
    height: 15px;
    border: 0;
    padding: 0;
    margin: 2px;
}

.comments-all-div {
    margin-left: 2.5em;
    padding: 0;
    margin-top: .3em;
    border: 1px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
}

.comments-all-div hr {
    border: 0;
    height: 1px;
    color: #000000;
    background-color: #000000;
    width: 95%;
}

.comment-reply-button, .post-reply-button {
    clear: both;
    float: right;
    margin-left: 3em;
    font-size: 8pt;
    text-decoration: underline;
    cursor: pointer;
}

<<<<<<< HEAD
.load-more-comments-div {
    font-size: 8pt;
    margin: .1em;
}

.load-more-comments {
    text-decoration: underline;
    cursor: pointer;
}

=======
>>>>>>> parent of 551b349... show more comments works
.comment, .comment-post, .comment-login {
    border-top: 0px solid;
    margin: .5em;
    text-align: left;
    padding: 0;
    overflow: hidden;
}

.comment-first {
}

/* javascript hides these until "see more" is clicked */
<<<<<<< HEAD
.comment-too-many, .hr-too-many {
    display: none;
=======
.comment-too-many {

>>>>>>> parent of 551b349... show more comments works
}

.comment-post textarea {
    width: 100%;
    height: 2em;
}

.comment-post input[type="submit"], .comment-login input[type="submit"] {
    background: transparent;
    border: 0;
    margin: .2em -.45em .2em .2em;
    padding: 0;
    font-size: 10pt;
    text-decoration: underline;
    cursor: pointer;
}

.comment-login-text {
    font-size: 8pt;
}

.comment-level-1 {
    margin-left: 2.5em;
}

.comment-author {
    font-weight: bold;
}

.comment-author:after {
    content: ":";
}

.comment-post {
    padding-top: .8em;
    text-align: right;
    overflow: hidden;
    padding-right: 2em;
    display: none;
}

.comment-label {
    font-size: small;
    font-style: italic;
    display: block;
    padding-left: 2em;
}

.comment-post textarea {
    float: left;
}

.comment-is-yours>.comment-author a {
    color: blue; /* special color or whatever for your own username... */
}

.delete-button:hover/*, .up-button:hover, .down-button:hover*/ {
    /* background-color: #FFC600;    orange */
    background-color: #EEEEEE;
}

.up-button:hover, .down-button:hover {
}

#wall-submit {
    text-align: center;
    margin-bottom: 1.5em;
}

.wall-error-text {
    color: #FF0000;
    text-align: center;
}

.button-subscribed {
    color: white;
    background-color: green;
}

#page-navigation ul, #page-navigation li {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 1em;
}

#filter-by-date-picker {
    display:none; 
    text-align:center;
    background-color:#fff; 
    border:none;
}
