/*--- make room for the calendar ---*/

/* I'm so sorry... I hate floats */
#top-calendar {
    position: absolute;
    top: 50%;
    left: 95%;
    margin-left: -200px;
    margin-top: -100px;
    width: 150px;
    height: 200px;
    float: right;
    cursor: default;
}

.cal-reset {
    font-size: 8pt;
    float: right;
}

#top-content {
    min-height: 210px; /* this is to match the height of the calendar which I currently set to 150px... sorry if there's a cleaner way to do that */
}

/*----------------------------------------*/

.parent-name, .group-name {
}

.parent-none {
}

#group-name-nav {
    margin-bottom: 1em;
}

.group-interaction-buttons {
    position: absolute;
    bottom: 0px;
}
.group-interaction-buttons li {
/*    float: left;
    display: inline; 
    list-style: none;*/
}

.parent-word, .child-word {
    margin: 1em 0 0 0;
    padding: 0;
}

.child-list, .parent-list {
    margin: 0;
    margin-left: 2em;
    padding: 0;
    border-left: 1px #888888 dotted;
}

.child-list li, .parent-list li {
    list-style: none;
}

.child-list-border {
    width: 6px;
    height: .7em;
    border-bottom: 1px #888888 dotted;
    float: left;
}

.child-name {
    margin-left: .3em;
}

.filter-button {
    padding: .2em;
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}


.filter-button:hover {
    background: #000000;
}

.selected {
    color: #000000;
    background-color: #FFFFFF;
}

.selected:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.selected:hover {
/*    background-color: #D1D1D1; */
}

.post-box {
    padding: .4em;
    margin: 1em;
}

.post-group-pic {
}

.post-group-name {
    font-size: 12pt;
    padding: .1em;
    font-weight: bold;
}

.post-via {
    font-style: italic;
    font-size: small;
}

.post-by-child-group {
}

.post-by-same-group a {
    color: green;
}


.event-title {
}

.event-details {
    margin: 0;
    padding: 0;
}

.event-place, .event-date {
    font-weight: bold;
    font-size: 11pt;
}

.event-flags {
}

.post-content {
    padding: .32em;
    background-color: #F5F5F5;
    text-align: left;
    border: 1px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;;
    overflow: hidden;
}

.post-votes {
    text-align: left;
    float: left;
    width: 7%;
    position: relative;
    padding: .2em;
    line-height: 1em;
}

.post-votes ul, .post-votes li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.post-votes ul {
    float: left;
}

.vote-score {
    position: absolute;
    margin-top: -.5em;
    top: 50%;
}

.up-button, .down-button {
    background: transparent;
    border: 0;
    margin: .1em .3em;
    cursor: pointer;
    width: 13px;
    height: 14px;
}

.up-button {
    background-image: url(/static/images/uparrow.gif);
}

.down-button {
    background-image: url(/static/images/downarrow.gif);
}

.up-selected {
    background-image: url(/static/images/uparrowselected.gif);
}

.down-selected {
    background-image: url(/static/images/downarrowselected.gif);
}

.post-text {
    float: left;
    font-size: small;
    width: 82%;
}

.post-delete {
    float: right;
    margin: 0;
    padding-left: .8em;
    width: 5%;
}

.comment-delete {
    clear: both;
    float: right;
}

.delete-button {
    font-family: Monospace;
    font-size: small;
    background-color: #FFFFFF;
    background-image: url(/static/images/xbutton.gif);
    width: 15px;
    height: 15px;
    border: 0;
    padding: 0;
    margin: 2px;
}

.comments-all-div {
    margin-left: 2.5em;
    padding: 0;
    margin-top: .3em;
    border: 1px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
}

.comments-all-div hr {
    border: 0;
    height: 1px;
    color: #000000;
    background-color: #000000;
    width: 95%;
}

.comment-reply-button, .post-reply-button {
    clear: both;
    float: right;
    margin-left: 3em;
    font-size: 8pt;
    text-decoration: underline;
    cursor: pointer;
}

.comment, .comment-post, .comment-login {
    border-top: 0px solid;
    margin: .5em;
    text-align: left;
    padding: 0;
    overflow: hidden;
}

.comment-first {
}

.comment-post textarea {
    width: 100%;
    height: 2em;
}

.comment-post input[type="submit"], .comment-login input[type="submit"] {
    background: transparent;
    border: 0;
    margin: .2em -.45em .2em .2em;
    padding: 0;
    font-size: 10pt;
    text-decoration: underline;
    cursor: pointer;
}

.comment-login-text {
    font-size: 8pt;
}

.comment-level-1 {
    margin-left: 2.5em;
}

.comment-author {
    font-weight: bold;
}

.comment-author:after {
    content: ":";
}

.comment-post {
    padding-top: .8em;
    text-align: right;
    overflow: hidden;
    padding-right: 2em;
    display: none;
}

.comment-label {
    font-size: small;
    font-style: italic;
    display: block;
    padding-left: 2em;
}

.comment-post textarea {
    float: left;
}

.comment-is-yours>.comment-author a {
    color: blue; /* special color or whatever for your own username... */
}

.delete-button:hover/*, .up-button:hover, .down-button:hover*/ {
    /* background-color: #FFC600;    orange */
    background-color: #EEEEEE;
}

.up-button:hover, .down-button:hover {
}

#wall-submit {
    text-align: center;
    margin-bottom: 1.5em;
}

.wall-error-text {
    color: #FF0000;
    text-align: center;
}

.button-subscribed {
    color: white;
    background-color: green;
}

