{% comment %}
  The filters depend on the div containing the wall_content include having
  id "wall-content".
{% endcomment %}

<div class="container-top-bar">

  {% include "includes/wall/wall_filters.html" %}
</div>

{% if wall_subtitle %} 
  <h2 id="subtitle">{{ wall_subtitle }}</h2>   
{% endif %}

{# error is for post submitting #}
{% if errormsg %}
  {% if not suppress_wall_errormsg %}
    <p class="wall-error-text">  
      {{ errormsg }}
    </p> 
  {% endif %}
{% endif %}

{% if is_admin %}
  <div style="margin-top: 1em">
  {% include "includes/wall/wall_submit.html" %}
</div>
{% endif %}

<div id="wall-content">{% include "includes/wall/wall_content.html" %}</div>
