{# it used to be action={{ group_url }} #}
{# mini-date calendar #}
<script src="http://www.mattkruse.com/javascript/calendarpopup/combined-compact/CalendarPopup.js"></script>
<script type="text/javascript" charset="utf">

  var cal = new CalendarPopup();

  function clear_fields()
  {
     $('#title_box').val('');
     $('#place_box').val('');
     $('#date_box').val('');   
     $('#time_box').val('');
     $('#flag_box').val('');
     $('#eventclick').attr('checked', false);
  }

  function toggle_event_fields() 
  {
     if ($('#eventclick').is(':checked'))
     {
        $('#event_fields').show();
        $('#title_box').focus();
     }
     else
     {
        $('#event_fields').hide();     
        clear_fields();
     }
  }

  $(document).ready(function() { 
    $('#event_fields').hide();
    clear_fields(); /* to avoid strange behavior with browser back button */
  });

</script>

<div id="wall-submit">

  <form name="add_post_form" action="" method="post">{% csrf_token %}
    {# checkbox #}  
    <input type="checkbox" id="eventclick" name="eventclick" onclick="toggle_event_fields()">Event<br>

    {# area for event fields #}
    <div id="event_fields">
      <label for="title_box">Title:</label>  <input type="text" id="title_box" name="title"size=20><br>
      <label for="place_box">Where:</label> <input type="text" id="place_box" name="where" size=20><br>
      <label for="date_box">Date:</label> <input type="text" readonly="readonly" onFocus="this.blur();" id="date_box" name="date" size=9>
      <a href="#" onClick="cal.select(document.add_post_form.date_box,'calendar_link','yyyy-MM-dd'); return false;" name="calendar_link" id="calendar_link">select</a>
      <label for="time_box">Time:</label> <input type="text" id="time_box" name="time" size=4>
      <select name="timedrop">
	<option value="am">A.M.</option>
	<option value="pm">P.M.</option>
      </select>
      <br>
      <label for="flag_box">Flags:</label> <input type="text" id="flag_box" name="flags" size=20>
    </div>    

  <textarea name="post_content" cols=50 rows=4></textarea><br />
  <input type="submit" name="post_submit" value="Submit" />	

  </form>
</div>
