{% comment %}

  The ajax call to generate this upon new filter only sends posts and group to this 
  template. Don't rely on any other template variables being here.

  I just wanted to see if I could do Ajax. We can move this stuff out of here later.
  Brian: I moved your code elsewhere so I can use inheritance to put it in the head.
{% endcomment %}

{% load set_var %}

<script type="text/javascript" charset="utf-8">

// unbinds click() on the button specified by function params
// type should be either the string 'up' or the string 'down'
// NOTE: this function goes unused and is untested
function bind_vote(type, post_id, post_type)
{
  $('#' + type + '-button-' + post_type + '-' + post_id).click('');
}

// binds update_vote_script to the button of type type
// type should be either the string 'up' or the string 'down'
function bind_vote(type, post_id, post_type)
{
  $('#' + type + '-button-' + post_type + '-' + post_id).click(function() {
    update_vote_script(type, post_id, post_type);
  });
}

// Bind the correct functions to the buttons depending on whether 
// the user has logged in and voted on this post before
function setup_voting() {
  {% if user.is_authenticated %}

  // make all posts' voting active
  {% for post in posts %}
  bind_vote('up', {{post.id}}, {{post.post_type}});
  bind_vote('down', {{post.id}}, {{post.post_type}});
  {% endfor %}

  // retroactively remove voting from some of them
  {% for post_vote in voted_post_set %}
  var vote = {{ post_vote.vote }};
  var post_id = {{ post_vote.post.id }};
  var post_type = {{post_vote.post.post_type}};

  if (vote == 1)
  {
    $('#up-button-' + post_type + '-' + post_id).addClass('up-selected');
  }
  else if (vote == 2)
  {
    $('#down-button-' + post_type + '-' + post_id).addClass('down-selected');
  }
  else 
  {
  }
  {% endfor %}
  {% else %}
  {% for post in posts %}
  $('#down-button-{{post.post_type}}-{{post.id}}').click(function() {
    alert('Log in to vote !');
  });

  $('#up-button-{{post.post_type}}-{{post.id}}').click(function() {
    alert('Log in to vote !');
  });

  {% endfor %}
  {% endif %}
}

$(document).ready(function() {
  setup_voting();
});

// vote_type specifies if this was up or down vote; post_id identifies post
function update_vote_script(vote_type, post_id, post_type)
{
  var score_id = '#vote-score-' + post_type + '-' + post_id;
  var old_score = parseInt($(score_id).html());

  var data = {"vote_type":vote_type, "post_id":post_id, "post_type":post_type};

  $.post("/_apps/wall/views-update_vote/", data, function(data) {
    var change = parseInt(data)
    $(score_id).html(old_score + change);

    var up_but = '#up-button-' + post_type + '-' + post_id;
    var down_but = '#down-button-' + post_type + '-' + post_id;

    if (vote_type == 'up' && !($(up_but).hasClass('up-selected')))
    {
      $(up_but).addClass('up-selected')
      $(down_but).removeClass('down-selected')
    }
    else if (vote_type == 'down' && !($(down_but).hasClass('down-selected')))
    {
      $(up_but).removeClass('up-selected')
      $(down_but).addClass('down-selected')
    }
    else
    {
      $(up_but).removeClass('up-selected')
      $(down_but).removeClass('down-selected')
    }

  });
}

// deletes post specififed by post_id if it's being deleted by the author group
// otherwise simply removes the post from the wall
function delete_post(post_id, post_type)
{
  if (confirm("Are you sure you want to remove this post?")) {
    var data = { "post_id":post_id, "post_type":post_type, "group_id":"{{group.id}}" };
    $.post("{{ delete_post_view_url }}", data, function() {
      $('#post-box-'+post_type+'-'+post_id).slideUp("fast");
    });
  }
}

// deletes the comment

function delete_comment(comment_id)
{
  if (confirm("Are you sure you want to remove this comment?")) {
    var data = { "comment_id":comment_id, "group_id":"{{group.id}}" };
    $.post("/_apps/wall/views-delete_comment/", data, function(data) {
      // returned data is the 'post was removed' message
      $('#comment-content-' + comment_id).html(data); 
      $('#comment-author-' + comment_id).remove();
      $('#delete-button-' + comment_id).remove();
    });
  }
}

      </script>


      <script type="text/javascript" charset="utf-8">
        // this code is for posting of comments

        // don't hide reply field for comments
        function toggle_reply_box(id, reference) {
          if (!reference.is_shown) {
            $('#'+id).show("fast");
            reference.is_shown = true;
          } else {
            $('#'+id).hide("fast");
            reference.is_shown = false;
          }
        }

        // don't hide extra comments
        function toggle_extra_comments(class_val, reference, id, hr_class) {
          if (!reference.is_shown) {
            reference.is_shown = true;
            reference.old_html = $('#'+id).html();
            $('#'+id).html('hide extra comments');
            $('.'+class_val).slideDown("fast");
            $('.'+hr_class).slideDown("fast");
          } else {
            $('.'+class_val).slideUp("fast");
            $('.'+hr_class).slideUp("fast");
            reference.is_shown = false;
            $('#'+id).html(reference.old_html) ;
          }
        }

        /* These next two functions are completely incomplete. I decided not to worry about comment submisison with ajax right now. 
         function comment_html(comment_id) {

         <span class="comment-author" id="comment-author-{{comment.id}}"><a href="/user/{{ comment.author }}">{{ comment.author }}</a></span>
         <span class="comment-content" id="comment-content-{{comment.id}}">{{ comment.text }}</span>
         <button type="button" class="comment-delete delete-button" id="delete-button-{{comment.id}}" onClick="delete_comment({{comment.id}})"></button>
         <div class="comment-reply-button">
         <a onclick="toggle_reply_box(comment_post_id_{{ comment.id }}', this);">Reply!</a>
         </div>
       }

       function submit_comment(next, post_id, post_type) {
       var data = { "next":next, "post_id":post_id, "post_type":post_type };
       $.post("/_apps/wall/views-submit_comment/", data, function(data) {
       // returned data is the 'post was removed' message
       $('#comment-content-' + comment_id).html(data); 
       $('#comment-author-' + comment_id).remove();
       $('#delete-button-' + comment_id).remove();
     });
     }          
     */
        // make it hidden at first
        $(document).ready(function() { 
          //  $('.comment-post').hide();
          // $('.comment-level-0').show();
          clear_fields(); /* to avoid strange behavior with browser back button */
        });
      </script>

      {% for post in posts %}
        <div class="post-box" id="post-box-{{post.post_type}}-{{post.id}}">
          <div class="post-content">
            {% if is_admin or is_newsfeed %}
              <button type="button" class="post-delete delete-button" onClick="delete_post({{post.id}}, {{post.post_type}})"></button>
            {% endif %}

            {# begin left block inside posts #}

            <div class="post-left-column">
              <div class="group-image-div">
                <img src="{% if post.origin_group.img %}{{ post.origin_group.img.url }}{% else %}/static/images/tree.png{% endif %}" class="{% if post.origin_group.image.height > post.origin_group.image.width %}tall-resize{% else %}fat-resize{% endif %}" {# width="35px" height="35px"#} />
              </div>

              <div class="post-votes">
                <ul>
                  <li>
                    <button type="button" class="up-button" id="up-button-{{post.post_type}}-{{post.id}}"></button></li>
                  <li><button type="button" class="down-button" id="down-button-{{post.post_type}}-{{post.id}}"></button></li>
                </ul>
                <span class="vote-score" id="vote-score-{{post.post_type}}-{{post.id}}">{{ post.score }}</span>
              </div>

            </div>
            {# end left block inside posts #}

            <div class="post-group-name">
              {% ifnotequal post.origin_group group %}
                <span class="post-by-child-group">
                {% else %}
                  <span class="post-by-same-group">
                  {% endifnotequal %}
                  {% if post.event_title %}
                    <a href="/group/{{ post.origin_group.url }}">{{ post.origin_group }}</a>: <a class="event-title" href="/group/{{ post.origin_group.url }}/event/{{ post.event_url }}/">{{ post.event_title }}</a>
                  {% else %}
                    <a href="/group/{{ post.origin_group.url }}">{{ post.origin_group }}</a>
                  {% endif %}
                </span>
              </div>
              {% if post.event_date %}
                <p class="event-details">at <span class="event-place">{{ post.event_place }}</span> on <span class="event-date">{{ post.event_date }}</span></p>
                {% if post.flags.all %} <p class="event-flags">{{ post.flags.all|join:", " }}</p>{% endif %}
              {% endif %}

              {% if post.event_date %}
                {% if post.text|length >= 200 %}
                  <div class="post-text">{{ post.text|slice:":200"|truncatewords:20 }}... <a href="/group/{{ group.url }}/event/{{ post.event_url }}">(more info)</a></div>
                {% else %}
                  <div class="post-text">{{ post.text }}</div>
                {% endif %}
              {% else %}
                <div class="post-text">{{ post.text }}</div>
              {% endif %}


              <div class="post-bottom-bar">
                <div class="post-reply-button">
                  {% if user.is_authenticated %}
                    <a onclick="toggle_reply_box('{{ post.post_type }}_id_{{ post.id }}', this);">Comment!</a>
                  {% else %}
                    {% if forloop.first %} <a href="/login/?next={{ request.get_full_path }}">Login to comment!</a> {% endif %}
                  {% endif %}
                </div>
                <div class="post-date">
                  posted on {{ post.date }}
                </div>
              </div>
            </div>

            {# CHANGE THIS JORGE. CHANGE IT!!!! #}
            {% if user.is_authenticated %}
              {# now allow for posting of comment #}
              <div class="form-div {% if not post.comment_set.all %}form-div-no-comments{% endif %}">
                <form name="post_{{ post.id }}" id="{{ post.post_type }}_id_{{ post.id }}" class="comment-level-0 comment-post" action="/post/comment/" method="post">{% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}"></input>
                <input type="hidden" name="post_id" value="{{ post.id }}"></input>
              <input type="hidden" name="post_type" value="{{ post.post_type }}"></input>
            <label for="comment_text_id_{{ post.id }}" class="comment-label"></label>
            <textarea id="comment_text_id_{{ post.id }}" name="comment_text" onfocus="this.value=''; this.onfocus=null">type comment here!</textarea>
            <input type="submit" value="Post!"></input>
        </form>
      </div>
    {% endif %}

    {% if post.comment_set.all %}
      <div class="comments-all-div">
        {% set comment_count = 0 %}
        {% for comment in post.comment_set.all reversed %} {# chronological order #}
          {% set comment_count += 1 %}

          {# a top-level comment #}
          <div class="comment comment-level-{{ comment.level }} {% ifequal comment.author user %}comment-is-yours{% endifequal %} {% if forloop.first %}comment-first{% endif %} {% if comment_count > 5 %}comment-too-many comment-too-many-{{ forloop.parentloop.counter }}{% endif %}">
            <div class="comment-content-div">
              {% if not comment.removed %}
                <span class="comment-author" id="comment-author-{{comment.id}}">{{ comment.author }}:</span>
              {% endif %}
              <span class="comment-content" id="comment-content-{{comment.id}}">{{ comment.text }}</span>
            </div>
            <div class="comment-bottom-bar">
              <span class="post-date">posted on {{ comment.date }}</span>
              <ul>
                <li>
                  {% if user.is_authenticated %}
                    <button type="button" class="comment-reply-button" onclick="toggle_reply_box('comment_post_id_{{ comment.id }}', this);">reply</button>
                  {% else %}
                    {# do nothing... <a href="/login/?next={{ request.get_full_path }}">Login to reply!</a> #}
                  {% endif %}
                </li>
                <li>
                  {% if not comment.removed %}
                    {% if is_admin %}
                      <button type="button" class="comment-delete" id="delete-button-{{comment.id}}" onClick="delete_comment({{comment.id}})">delete</button>
                    {% else %}
                      {% ifequal comment.author request.user %}
                        <button type="button" class="comment-delete" id="delete-button-{{comment.id}}" onClick="delete_comment({{comment.id}})">delete</button>
                      {% endifequal %}
                    {% endif %}
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
          {# end top-level comment #}

          {# hr #}
          {% if comment_count > 5 %}
            <hr class="hr-too-many hr-too-many-{{forloop.parentloop.counter}}" />
          {% else %}
            <hr />
          {% endif %}

          {# posting of a reply to a comment #}
          <form name="comment_post_{{ comment.id }}" id="comment_post_id_{{ comment.id }}" class="comment-post comment-level-1" action="/post/comment/" method="post">{% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}"></input>
          <input type="hidden" name="post_id" value="{{ comment.id }}"></input>
        <input type="hidden" name="post_type" value="{{ comment.post_type }}"></input>
      <label for="comment_text_id_{{ comment.id }}" class="comment-label"></label>
      <textarea id="comment_text_id_{{ comment.id }}" name="comment_text" cols="62" rows="2" onfocus="this.value=''; this.onfocus=null">type reply here!</textarea>
      <input type="submit" value="Post!"></input>
  </form>

  {# redundant code, sorry... a nested comment #}
  {% for comment_child in comment.comment_set.all reversed %} {# chronological order #}
    {% set comment_count += 1 %}
    <div class="comment comment-level-{{ comment_child.level }} {% ifequal comment_child.author user %}comment-is-yours{% endifequal %} {% if comment_count > 5 %}comment-too-many comment-too-many-{{ forloop.parentloop.parentloop.counter }}{% endif %}">
      <div class="comment-content-div">
        {% if not comment_child.removed %}
          <span class="comment-author" id="comment-author-{{comment_child.id}}">{{ comment_child.author }}:</span>
        {% endif %}
        <span class="comment-content" id="comment-content-{{comment_child.id}}">{{ comment_child.text }}</span>
      </div>
      <div class="comment-bottom-bar">
        <span class="post-date">posted on {{ comment_child.date }}</span>
        <div class="lonely-delete">
          {% if not comment_child.removed %}
            {% if is_admin %}
              <button type="button" class="comment-delete" id="delete-button-{{comment_child.id}}" onClick="delete_comment({{comment_child.id}})">delete</button>
            {% else %}
              {% ifequal comment_child.author request.user %}
                <button type="button" class="comment-delete" id="delete-button-{{comment_child.id}}" onClick="delete_comment({{comment_child.id}})">delete</button>
              {% endifequal %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    {# hr #}
    {% set comment_count thread safety %}
    {% if comment_count > 5 %}
      <hr class="hr-too-many hr-too-many-{{forloop.parentloop.parentloop.counter}}" />
    {% else %}
      <hr />
    {% endif %}
  {% endfor %}
  {# end nested comment #}

  {% if forloop.last %}
    {% set comment_count thread safety %}
    {% if comment_count > 5 %}
      <div class="load-more-comments-div"><a class="load-more-comments" id="load-more-comments-{{ forloop.parentloop.counter }}" onclick="toggle_extra_comments('comment-too-many-{{ forloop.parentloop.counter }}', this, 'load-more-comments-{{ forloop.parentloop.counter }}', 'hr-too-many-{{forloop.parentloop.counter}}');">see more comments</a></div>
    {% endif %}
  {% endif %}
{% endfor %}
    </div>
  {% endif %}
  {# DO IT #}
</div>
  {% empty %}
    {% if not wall_subtitle %} {# in future should add something to filter to insure this was a calendar click #}
       <h2 id="subtitle">Sorry, no events are listed on this date.</h2>
    {% endif %}
  {% endfor %}

  {% if not group.pending_parent %}
    {% if group.parent or group.toplevelgroup %}
      {% if posts_on_page.has_previous or posts_on_page.has_next %}
        <div id="page-navigation">
          <ul>
            {% if posts_on_page.has_previous %}
              <li>
                <a href="?page={{ posts_on_page.previous_page_number }}">previous</a>
              </li>
            {% else %}
              {% if posts %}
                <li>previous</li>
              {% endif %}
            {% endif %}
            {% if posts_on_page.has_next %}
              <li>
                <a href="?page={{ posts_on_page.next_page_number }}">next</a>
              </li>
            {% else %}
              {% if posts %}
                <li>next</li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
