{% comment %}

The ajax call to generate this upon new filter only sends posts and group to this 
template. Don't rely on any other template variables being here.

I just wanted to see if I could do Ajax. We can move this stuff out of here later.
Brian: I moved your code elsewhere so I can use inheritance to put it in the head.
{% endcomment %}

<script type="text/javascript" charset="utf-8">

    // binds update_vote_script to the button of type type
    // type should be either the string 'up' or the string 'down'
    function bind_vote(type, post_id, post_type)
    {
        $('#' + type + '-button-' + post_id).click(function() {
            update_vote_script(type, post_id, post_type);
        });
    }

    // Bind the correct functions to the buttons depending on whether 
    // the user has logged in and voted on this post before
    $(document).ready(function() {
        {% for post in posts %}
            {% if user.is_authenticated %}
/*                if ({{ user.get_profile.voted_posts.vote }} == 1)
                {
                    $('#up-button-{{post.id}}').css('background-color: green');
                    bind_vote('down', {{post.id}}, {{post.post_type}});
                }
                else if ({{ user.get_profile.voted_posts.vote }} == 2)
                {
                    $('#down-button-{{post.id}}').css('background-color: red');
                    bind_vote('up', {{post.id}}, {{post.post_type}});
                }
                else 
                {
*/                  bind_vote('up', {{post.id}}, {{post.post_type}});
                    bind_vote('down', {{post.id}}, {{post.post_type}});
//                }
            {% else %}
                $('#down-button-{{post.id}}').click(function() {
                    alert('Log in to vote !');
                });

                $('#up-button-{{post.id}}').click(function() {
                    alert('Log in to vote !');
                });
            {% endif %}
        {% endfor %}
    });

    // vote_type specifies if this was up or down vote; post_id identifies post
    function update_vote_script(vote_type, post_id, post_type)
    {
        var nextScore = parseInt($('#vote-score-'+post_id).html());
        if (vote_type == 'up')
            nextScore += 1;
        else
            nextScore -= 1;
        var data = {"vote_type":vote_type, "post_id":post_id, "post_type":post_type};
        $.get("/_apps/wall/views-update_vote/", data, function() {
            $('#vote-score-'+post_id).html(nextScore);
        });
    }

    // deletes post specififed by post_id if it's being deleted by the author group
    // otherwise simply removes the post from the wall
    function delete_post(post_id, post_type)
    {
        var data = { "post_id":post_id, "post_type":post_type, "group_id":"{{group.id}}" };
        $.post("{{ delete_post_view_url }}", data, function() {
            $('#post-box-'+post_id).hide();
        });
    }
</script>

{% for post in posts %}
<div class="post-box" id="post-box-{{post.id}}">
    <div class="post-group">
        {% ifnotequal post.origin_group group %}
            <span class="post-via"></span>
        {% else %}
            <span class="post-by-same-group"></span>
        {% endifnotequal %}
        <span class="post-group-name">{{ post.origin_group }}</div>
    <div class="post-content">
        <button type="button" class="post-delete delete-button" onClick="delete_post({{post.id}}, {{post.post_type}})">x</button>
	{% comment %}
        <form name="delete-info" class="post-delete" action="" method="POST">{% csrf_token %}
	    <input type="hidden" name="group_id" value="{{group.id}}">
	    <input type="hidden" name="post_id" value="{{post.id}}">
	    <input type="hidden" name="post_type" value="{{post.post_type}}">
	    <input type="submit" name="delete_submit" class="delete-button" value="x">
	</form>
	{% endcomment %}
        <div class="post-votes">
            <ul>
                <li>
                    <button type="button" class="up-button" id="up-button-{{post.id}}">^_^</button></li>
                <li><span class="vote-score" id="vote-score-{{post.id}}">{{ post.score }}</span></li>
                <li><button type="button" class="down-button" id="down-button-{{post.id}}">;_;</button></li>
            </ul>
        </div>
	{% if post.event_date %}
	Event: <strong><a href="/group/{{ post.origin_group }}/{{ post.event_url }}/">{{ post.event_title }}</a></strong><br>
	Where: {{ post.event_place }}<br>
	Time: {{ post.event_date }}<br>
	Flags: {{ post.flags.all|join:", " }}
	<hr>
	{% endif %}
        <div class="post-text">{{ post.text }}</div>
    </div>
</div>
{% endfor %}
