{% comment %}
The filters depend on the div containing the wall_content include having
id "wall-content".
{% endcomment %}

{% if errormsg %}
   <p class="wall-error-text">  
     {{ errormsg }}
   </p> 
{% endif %}

{# hope you can change this submit_off boolean to admin only w/o breaking newsfeed #}

{% if not submit_off %}
   <p>submit is not off</p>
   {% include "includes/wall/wall_submit.html" %}
{% endif %}

{% if is_admin %}
   <p>Hi Admin!</p>
{% else %}
   <p>You are not the admin of this group!</p>
{% endif %}

<div class="main-container">
  {% include "includes/wall/wall_filters.html" %}

  {% block wall_title %}
    <h2 id="subtitle">wall posts</h2>
  {% endblock %}
  <div id="wall-content">{% include "includes/wall/wall_content.html" %}</div>
</div>
