{% extends "base.html" %}

{% block top_content %}
  <h1 id="title">forgot password</h1></span>
{% endblock %}

{% block main_content %}
<div class="main-container">
  <div class="container-top-bar">
    Final step! It's so close!
  </div>
  {% if validlink %}
    <p>Please choose your new password</p>
    <form method="POST" action=".">{% csrf_token %}
        {% include 'includes/forms/forms.html' %}
      <input type="submit" value='submit' />
    </form>
  {% else %}
    <p>Sorry, the password reset link was invalid. Check your email again or request a <a href="{% url forgot_password %}">new password reset link</a>.</p>
  {% endif %}
{% endblock %}
