<script type="text/javascript" charset="utf-8">
    {% if user.is_authenticated %}
    $(document).ready(function() {
        {% if is_admin %}
        var change_on = false;
        // override default link behavior
        $('.change-logo').click(function(event) { 
             change_on = !change_on;
             if (change_on) {
                 $('#change-logo-link').hide();
                 $('.change-logo-box').show();
             }
             else {
                 $('#change-logo-link').show();
                 $('.change-logo-box').hide();
             }
             return false; 
        });
        {% endif %}
    });
    {% endif %}
</script>

<div id="sidebar">

  <div id="group-photo">
    {# image -- for now only put image on group page #}
   {# {% if is_group_page %} #}

    <img src="{% if groupinfo.group.img %}{{ groupinfo.group.img.url }}{% else %}/static/images/tree.png{% endif %}" />
    <br />

{#    {% endif %} #}

    {% if is_group_page or is_groupinfo_page or is_groupphotos_page%}
      {% if is_admin %}
        <a id="change-logo-link" class="change-logo" href="/group/{{ group.url }}/info/edit"
          {% ifequal extra_display_option 'display_change_group_logo' %}
   	    style="display:none"
          {% endifequal %}
        >(Change group logo)</a>
      {% endif %}
    {% endif %}
  </div>

    <div class="change-logo-box" 
      {% ifnotequal extra_display_option 'display_change_group_logo' %}
	 style="display:none"
      {% endifnotequal %}
    >
      <form enctype="multipart/form-data" action="/group/{{group.url}}/" method="post">{% csrf_token %}
	{% if errormsg %}
  	  <span class="errormsg">{{ errormsg }}</span>
	{% endif %}
        <p style="width: 100px"><input type="file" name="file" id="id_file" /></p>
        <input type="hidden" name="change-logo-from-sidebar" value="Submit" />
        <p><input type="submit" value="Submit" /></p>
      </form> 
      <br/>
      (<a class="change-logo" href="/group/{{ group.url }}/">cancel</a>)
    </div>

    {% comment %}
    {# list parent #}
    {% if group.parent %}
        <h3 class="parent-word">parent</h3>
        <ul class="parent-list">
            <li>
                <span class="child-list-border"></span>&nbsp;<a class="parent-name" href="/group/{{ group.parent.url }}">{{ group.parent }}</a>
            </li>
        </ul>
    {% else %}
        {% if group%}
            <h3 class="parent-none">no parent</h3>
        {% endif %}
    {% endif %}

    {# list children #}
    {% if children %}
        {% if is_newsfeed %}
                <h3 class="child-word">Subscriptions</h3>
        {% else %}
            {% ifequal children|length 1 %} 
                <h3 class="child-word">child</h3>
            {% else %}
                <h3 class="child-word">children</h3>
            {% endifequal %}
        {% endif %}
        <ul class="child-list">
            {% for child in children %}
                <li><span class="child-list-border"></span><a class="child-name" href="/group/{{ child.url }}">{{ child.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        {% if is_newsfeed %}
            <h3 class="child-word">No Subscriptions</h3>
	{% else %}
            <h3 class="child-none">no children</h3>
        {% endif %}
    {% endif %}
    {% endcomment %}

    {# hierarchy bar #}
    {# this only displays on group pages where a hierarchy makes sense #}
   {# {% if is_group_page %} #}
        <div id="group-navigation-div">
            <div class="parent-word"><a href="/group/{{ group.parent.url }}">{% if group.parent %}{{ group.parent }}{% else %}OneTree{% endif %}</a></div>
            <ul class="parent-list">
              <li style="margin-top: .25em;"><div class="child-list-border"></div><a class="child-name group-list-name">{{ group.name }}</a>
                    <ul class="child-list">
                        {% for child in children %}
                            <li><span class="child-list-border"></span><a class="child-name" href="/group/{{ child.url }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% for sibling in siblings %}
                    <li><span class="child-list-border"></span><a class="child-name" href="/group/{{ sibling.url }}">{{ sibling.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {# {% endif %} #}

    {# list tags #}
    {% comment %}
        <div class="grouptags">
            {% if group.tags.all %}
                <strong>Tags: </strong>
                {% for tag in group.tags.all %}
                    {{ tag.tag }} 
                {% endfor %}
            {% endif %}
        </div>
    {% endcomment %}

</div>
