<div id="sidebar">

  <div id="group-photo">
    {# image -- for now only put image on group page #}
   {# {% if is_group_page %} #}

    <img src="{% if groupinfo.group.img %}{{ groupinfo.group.img.url }}{% else %}/static/images/tree.gif{% endif %}" width="180px" height="180px" />

{#    {% endif %} #}

    {% if is_group_page or is_groupinfo_page or is_groupphotos_page%}
      {% if is_admin %}
        <a class="change-logo" href="/group/{{ group.url }}/info/edit">(Change group logo)</a>
      {% endif %}
    {% endif %}
  </div>

    {% comment %}
    {# list parent #}
    {% if group.parent %}
        <h3 class="parent-word">parent</h3>
        <ul class="parent-list">
            <li>
                <span class="child-list-border"></span>&nbsp;<a class="parent-name" href="/group/{{ group.parent.url }}">{{ group.parent }}</a>
            </li>
        </ul>
    {% else %}
        {% if group%}
            <h3 class="parent-none">no parent</h3>
        {% endif %}
    {% endif %}

    {# list children #}
    {% if children %}
        {% if is_newsfeed %}
                <h3 class="child-word">Subscriptions</h3>
        {% else %}
            {% ifequal children|length 1 %} 
                <h3 class="child-word">child</h3>
            {% else %}
                <h3 class="child-word">children</h3>
            {% endifequal %}
        {% endif %}
        <ul class="child-list">
            {% for child in children %}
                <li><span class="child-list-border"></span><a class="child-name" href="/group/{{ child.url }}">{{ child.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        {% if is_newsfeed %}
            <h3 class="child-word">No Subscriptions</h3>
	{% else %}
            <h3 class="child-none">no children</h3>
        {% endif %}
    {% endif %}
    {% endcomment %}

    {# hierarchy bar #}
    {# this only displays on group pages where a hierarchy makes sense #}
   {# {% if is_group_page %} #}
        <div id="group-navigation-div">
            <div class="parent-word"><a href="/group/{{ group.parent.url }}">{% if group.parent %}{{ group.parent }}{% else %}OneTree{% endif %}</a></div>
            <ul class="parent-list">
                <li><div class="child-list-border"></div><a class="child-name group-list-name">{{ group.name }}</a>
                    <ul class="child-list">
                        {% for child in children %}
                            <li><span class="child-list-border"></span><a class="child-name" href="/group/{{ child.url }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% for sibling in siblings %}
                    <li><span class="child-list-border"></span><a class="child-name" href="/group/{{ sibling.url }}">{{ sibling.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {# {% endif %} #}

    {# list tags #}
    {% comment %}
        <div class="grouptags">
            {% if group.tags.all %}
                <strong>Tags: </strong>
                {% for tag in group.tags.all %}
                    {{ tag.tag }} 
                {% endfor %}
            {% endif %}
        </div>
    {% endcomment %}

</div>
