{% comment %}
Most of this code is unnecessary and was written with a date range picker in mind. I'm leaving it here
(and using it, although it was written with a range picker in mind) in case we switch back to a date 
range picker.

In particular, any lines with datepick status don't work right now, since the datepick-status element
is commented out.
{% endcomment %}

<link rel="stylesheet" href="/static/datepicker/jquery.datepick.css" type="text/css" charset="utf-8"/> 

<link rel="stylesheet" href="/static/datepicker/css/ui.theme.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="/static/datepicker/css/ui.core.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="/static/datepicker/css/ui.datepicker.css" type="text/css" charset="utf-8"/>

<link rel="stylesheet" href="/static/datepicker/ui-cupertino.datepick.css" type="text/css" charset="utf-8"/> 

<script type="text/javascript" charset="utf-8" src="/static/datepicker/jquery.datepick.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/datepicker/jquery.datepick.ext.js"></script>

<script type="text/javascript"> 

   $(function() {
      create_picker();
   }); 

   var cal_click_count = 0;

   function showHover(date, selectable) { 

      if (cal_click_count == 0)
         $('.datepick-status').html('Range Start: ' + format_amer_date(date));
      else if (cal_click_count == 1)
         $('.datepick-status').html('Range End: ' + format_amer_date(date));
      else {}

   }

   function create_picker() {
      $('#inlineDatepicker').datepick({multiSelect: 1,
                                       onSelect: filter_date_no_range,
                                       showOtherMonths: true,
                                       selectOtherMonths: true,
                                       fixedWeeks: true,
                                       {# onShow: $.datepick.hoverCallback(showHover), #} {# no hover affect right now #}
                                       renderer: $.datepick.themeRollerRenderer,
                                       });
   }   

   var date0_str;
   var date1_str;
   var range_selected = false;

   function filter_date_no_range(dates) {
       if (dates.length < 1) {
	   reset_filters();
           return;
       }

       var dates_clone = dates.slice(0);
       dates_clone[1] = dates_clone[0];
       filter_date(dates_clone);
   }


   function filter_date(dates) {
      date0_str = format_amer_date(dates[0]);
      date1_str = format_amer_date(dates[1]);

      cal_click_count++;

      if (cal_click_count == 2)
      {
         range_selected = true;
         cal_click_count = 0;
      }

      // end of interval isn't inclusive in django code, so need to do this
      var dates1 = new Date(dates[1].getTime());
      dates1.setDate(dates1.getDate() + 1);

      filters["start_date"] = format_date(dates[0]);
      filters["end_date"] = format_date(dates1);

      apply_filter('this_date_only');
   }

   function reset_filters() {
      delete filters["start_date"];
      delete filters["end_date"];
      remove_filter('this_date_only');
   }       

   function reset_datepicker() {
      $('#inlineDatepicker').datepick('destroy');
      create_picker();
      reset_filters();
      cal_click_count = 0;
      range_selected = false;
      $('.datepick-status').html('Select a date range');
   }

   function format_amer_date(date) {
      m = date.getMonth() + 1; /* + 1 because jan = 0, dec = 11 */
      d = date.getDate();
      y = date.getFullYear().toString().slice(2);

      if (m < 10)
         m = '0' + m;
      if (d < 10)
         d = '0' + d;

      return m + '/' + d + '/' + y;
   }

   function format_date(date) {
      m = date.getMonth() + 1; /* + 1 because jan = 0, dec = 11 */
      d = date.getDate();
      y = date.getFullYear();

      if (m < 10)
         m = '0' + m;
      if (d < 10)
         d = '0' + d;

      return y + '-' + m + '-' + d;
   }

   $(document).ready(function() {
      $('#inlineDatepicker').hover(function() {}, function() { 
         if (range_selected)
            $('.datepick-status').html(date0_str + ' - ' + date1_str);
         else
            $('.datepick-status').html('Select a date range');
      });
      // populate these here so they don't appear for people without javascript
      /* $('.datepick-status').html('Select a date range');
      $('.cal-reset').html('reset'); */
   });
</script> 

{% comment %}
{# code for doing a calendar in the filter bar #}
      <div style="display:none">
         <img id="cal_img" alt="Popup" src="/static/datepicker/calendar-blue.gif">
      </div>      
      <input type="text" id="inlineDatepicker" size="20" value="Select a date range">
{% endcomment %}

<body> 
   <div id="top-calendar"> 
      <div id="inlineDatepicker"></div>
      {% comment %}
      <div class="below-cal-content">
         <span class="datepick-status"></span>
         <a class="cal-reset" href="JavaScript:reset_datepicker()"></a>
      </div>
      {% endcomment %}
   </div>
</body> 
