
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
<title>jQuery Datepicker</title> 

  <link rel="stylesheet" href="/static/datepicker/jquery.datepick.css" type="text/css" charset="utf-8"/> 

<script type="text/javascript" charset="utf-8" src="/static/datepicker/jquery.datepick.min.js"></script>

<script type="text/javascript"> 
$(function() {
   $('#inlineDatepicker').datepick({rangeSelect: true, onSelect: filterDate});
});
 
function filterDate(dates) {
   alert(dates[0]);
   alert(dates[1]);
}
</script> 
</head> 

<body> 
   <div id="top-calendar"> 
      <div id="inlineDatepicker"></div> 
   </div>
</body> 
