<div class="members-list">
  <h3 class="subtitle">Members</h3>

  <ul>
    {% for member_profile in group.members.all %}
      <li>{{member_profile.user}}</li>
      {% empty %}
      <li>(no members yet)</li>
    {% endfor %}
  </ul>
</div>


<div class="about-us">
  <h3 class="subtitle">About Us</h3>

  <div id="main-content">
    {% if groupinfo.biginfo %}
      <p class="group-info-text">{{ groupinfo.biginfo }} </p>
    {% else %}
      <span class="no-info-msg">(Sorry, this group has yet to fill out their About Us)</span>
    {% endif %}
  </div>
</div>
