{# BAD CODE -- this is identical to groupinfo_edit.html  #}
{# it should eventulaly be referencing the same JS #}
<script type="text/javascript">  

function toggle_edit_info()
{
  if ($('#eventclick').is(':checked'))
  {
    $('#data-fields').slideDown("fast");
  }
  else {

    $('#data-fields').slideUp("fast");

  }
} 

$(document).ready(function() {
  $('#data-fields').hide();

  {% if is_admin %}
  {% if edit_on %}
  $('#eventclick').attr('checked', 'checked');
  toggle_edit_info();
  {% endif %}
  {% endif %}

  $('#super-admin-descrip-link').click(function(event) {
    $('#super-admin-descrip-link').hide();
    $('#super-admin-descrip').show();
    return false;
  });

  $('#super-admin-descrip-link').show();
  $('#super-admin-descrip').hide();
}); 

</script>


<div id="change-admin-data">
  <div id="edit-info-toggle">
    <input type="checkbox" id="eventclick" name="eventclick" onclick="toggle_edit_info()" />Edit Information
  </div>

  <div id="data-fields"> 
    {% comment %}
      <div class="group-info-edit-box">
        <h3>Change Group Logo</h3>
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit" />
        </form>
      </div>

      <div class="group-info-edit-box">
        <h3>Edit Group Introduction</h3>
        <form name="edit_info" action="" method="post">{% csrf_token %}
          <textarea name="data_content">{{ groupinfo.data }}</textarea>
          <br /><input type="submit" name="data_submit" value="Submit" />
        </form>
      </div>
    {% endcomment %}

    <div class="group-info-edit-box">
      <h3>Edit About Us</h3>
      <form name="edit_biginfo" action="" method="post">{% csrf_token %}
        <textarea name="biginfo_content">{{ groupinfo.biginfo }}</textarea>
        <br /><input type="submit" name="data_submit" value="Submit" />
      </form>
    </div>

    {% if is_superadmin %}

    {% if not group.toplevelgroup %}
      <div class="group-info-edit-box">
        <h3>Request New Parent</h3>
	<p>This will change the current parent of this group.</p>
        <form action="" method="post">{% csrf_token %}
          <span>Parent group name:</span>
          <input type="text" name="new_parent" />
          <input type="submit" name="data_submit" value="Request" />
        </form>
      </div>
      {% endif %}


      <div class="group-info-edit-box">
        <h3>Add Group Admin</h3>
        <form action="" method="post">{% csrf_token %}
          <span>Username:</span>
          <input type="text" name="new_admin" />
          <input type="submit" name="data_submit" value="Submit" />
        </form>
      </div>

      <div class="group-info-edit-box">
        <h3>Remove Group Admin</h3>
        <p> To remove yourself as admin, see "Transfer Group SuperAdmin."</p>
        <form action="" method="post" style="text-align: left">{% csrf_token %}
          {% ifnotequal group.admins.count 1 %} {# if not just SuperAdmin #}
            <input type="hidden" name="num_admins" value="{{group.admins.count}}" />
            {% for admin in group.admins.all %}
              {% ifnotequal admin request.user %}
                <input type="hidden" name="admin-{{forloop.counter0}}" value="{{admin}}" />
                <input type="checkbox" name="remove_admin-{{forloop.counter0}}" />{{admin}}<br />
              {% endifnotequal %}
            {% endfor %}
            <input type="submit" name="data_submit" value="Submit" />
          {% else %}
            <p> No admins to remove.</p>
          {% endifnotequal %}
        </form>
      </div>

      <div class="group-info-edit-box">
        <h3>Transfer Group SuperAdmin</h3> 
        <a id="super-admin-descrip-link" href="#super-admin-descrip-link" style="display: none">What's this?</a>

        <p id="super-admin-descrip"> You are currently the group superadmin. The superadmin is an admin with the additional ability to add and remove other administrators. If you choose to transfer the group superadmin to another user, you will be unable to recover this privilege unless the new superadmin transfers it back to you. By default you will become a normal group admin.</p>
        <form action="" method="post">{% csrf_token %}
          <span>Username:</span>
          <input type="text" name="new_superadmin" /><br/>
          <input type="checkbox" name="remove_self" value="{{request.user}}" />Do not make me normal admin. Remove all admin privileges.
          <input type="submit" name="data_submit" value="Submit" />
        </form>
        <br />
      </div>

    {% else %}

      <div class="group-info-edit-box">
        <h3>Remove Yourself as Admin</h3>
        <p>If you click remove, you will be unable to recover administrative privileges unless the group superadmin reappoints you to admin.</p>
        <form action="" method="post">{% csrf_token %}
          <input type="hidden" name="remove_self" value="{{request.user}}" />
          <input type="submit" name="data_submit" value="Remove" />
        </form>
        <br/>
      </div>

    {% endif %}
  </div> {# end data fields div #}
</div> {# end change admin data div #}
