{% extends "base_page_with_wall.html" %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/jquery.lightbox-0.5.css" media="screen" />
{% endblock %}

{% block top_title %}
    {# some kind of information identifying this as your newsfeed here #}
    <h1 id="group-title">{{user.username}}'s Newsfeed</h1>

    <script type="text/javascript" src="/static/javascripts/jquery.lightbox-0.5.js"></script>

    <div class="photo-container-all-top">
    {% if pictures %}
        {% for picture in pictures %}
            {% if picture.image %} 
                <div class="photo-text-container-top">
                    <div class="photo-container-top">
                            <a class="lightbox-gallery" href="{{ picture.image.url }}">
                                <img class="{% if picture.image.height > picture.image.width %}tall-resize{% else %}fat-resize{% endif %}" src="{{ picture.image.url }}" />
                            </a>
                    </div>
                    <p><a href="/group/{{picture.owner.url}}">{{picture.owner}}</a></p>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>(No Photos)</p>
    {% endif %}
</div>

    <script type="text/javascript">
        $(function() {
            $('a.lightbox-gallery').lightBox(); // Select all links with lightbox class
        });
    </script>


{% endblock %}
