<script type="text/javascript" charset="utf-8">  

  function toggle_edit_info()
  {
     if ($('#eventclick').is(':checked'))
     {
//        $('#data-fields').show();
        $('#upload').show();
//        $('#delete_photos').show();
     }
     else {

//        $('#data-fields').hide();
        $('#upload').hide();
//        $('#delete_photos').hide();

     }

//      $('#data-fields').focus();
  } 

  $(document).ready(function() {
//     $('#data-fields').hide();
     $('#upload').hide();
//     $('#delete_photos').hide();
  }); 

</script>

<CENTER>

<input type="checkbox" id="eventclick" name="eventclick" onclick="toggle_edit_info()">Edit Photos<br>

{# <div id="change-photos"> #}

  <div id="upload">
  <h3>Add Group Photos</h3>
  {% if piccount < 20 %}
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
    {% else %}
    <p>You have reached the maximum number of photos. Try deleting one first.</p>
   {% endif %}
  </div>

{% comment %}
  <div id="delete_photos">
    <h3>Delete Group Photos</h3>
    <form name="delete_selection" action="" method="post">{% csrf_token %}
    {% for pic in group.pictures.all %}
      <input type="checkbox" value="{{ pic.image.url }}">{{ pic.image.name }}</input><br>
      {% endfor %}
      <input type="submit" name="delete-submit" value="Submit" />
    </form>
  </div>
{% endcomment %}

</CENTER>
