{# BAD CODE -- this is identical to groupinfo_edit.html #} 
{# it should eventulaly be referencing the same JS #}
<script type="text/javascript">  

function toggle_edit_info()
{
  if ($('#eventclick').is(':checked'))
  {
    $('#data-fields').slideDown("fast");
  }
  else {

    $('#data-fields').slideUp("fast");

  }
} 

$(document).ready(function() {
  $('#data-fields').hide();
}); 

</script>

<div id="change-admin-data">
  <div id="edit-info-toggle">
    <input type="checkbox" id="eventclick" name="eventclick" onclick="toggle_edit_info()" />Edit Photos
  </div>

  <div id="data-fields">
    <div class="group-info-edit-box">
      <h3>Add Group Photos</h3>
      {% if piccount < maxpics %}
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit" />
        </form>
      {% else %}
        <p>You have reached the maximum number of photos. Try deleting one first.</p>
      {% endif %}
    </div>
  </div>
</div>
