<div class="photo-container-all">
{% if group.pictures.all %}
   {% for picture in group.pictures.all %}
       {# the following if statement protects against the very rare case that our server crash while an uploaded image is being saved. in that case, there's a corrupted image associated with the Picture object and it has no url. The best thing would be to delete that object since it's useless... but this probably isn't the time to be generating errors :) in short: I dunno when to delete corrupt saves, but now's not the time to ruin someone's photo album #}
       {% if picture.image %} 
           <div class="photo-container">
               <img src="{{ picture.image.url }}" />
           </div>
       {% endif %}
   {% endfor %}
{% else %}
    <p>(No Photos)</p>
{% endif %}
</div>
