{% extends 'base.html' %}

{% block top_content %}
<span id="subtitle">search results</span>
{% endblock %}

{% block main_content %}
<div id="search_form">
   <form action='./' method='GET'>{% csrf_token %}
       {% include "includes/forms/forms.html" %}
        <p><input type="submit" value="Search!"/></p>
    </form>
</div>
<div id="results">
{% if results %}
  <h2>Search results:</h2>
  <ol id="results-list">
    {% for hit in results %}
        <li><a href="/group/{{ hit.instance.url }}">{{ hit.instance }}</a> ({{ hit.percent }}% match)</li>
    {% endfor %}
  </ol>
{% endif %}
</div>
{% endblock %}
