{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/stylesheets/search.css" type="text/css" media="screen" /> 
{% endblock %}

{% block top_content %}
    <h1 id="title">search groups</h1>
{% endblock %}

{% block main_content %}
    <div class="main-container">
        <div id="search-form">
            <form action='./' method='GET'>{% csrf_token %}
                {% include "includes/forms/forms.html" %}
                <p><input type="submit" value="Search!"/></p>
            </form>
        </div>
        <div id="results">
            {% if results %}
                <h2>Search results:</h2>
                <ol id="results-list">
                    {% for hit in results %}
                        <li><a href="/group/{{ hit.instance.url }}">{{ hit.instance }}</a> ({{ hit.percent }}% match)</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>nothing :( but don't give up! try another query!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
