{% csrf_token %}
{# HACKISH SOLUTION MUST BE CHANGED #}

  <div style="text-align: left; margin: 1em auto;">
    <p><label for="username">username:</label>
      <input type="text" name="username" value="" id="username" />
    </p>
    <p>
      <label for="password">password:</label>
      <input type="password" name="password" value="" id="password" /> <a href="/profile/account/forgetpwd" style="font-size: 8pt;"><em>forgot password?</em></a>
    </p>
    <p>
      <input style="margin-left: 8.7em" type="submit" value="login" />
    </p>
</div>
