{% extends "base_page_with_wall.html" %}

{% block top_content %}

<script type="text/javascript" charset="utf-8">

{% if user.is_authenticated %}
    $(document).ready(function() {

        {% if user_is_subscribed %}
            user_is_subscribed = true;
            $('#subscribe-button').css('background-color', 'green')
        {% else %} 
            user_is_subscribed = false;
            $('#subscribe-button').css('background-color', 'red')
        {% endif %}

        $('#subscribe-button').click(function(event) {
            if (user_is_subscribed) {
                next_background = 'red'
            }
            else {
                next_background = 'green'
            }
            send_subscribe_change()
        });
    });

    function send_subscribe_change()
    {
        var url = "{{ subscribe_view_url }}";
        var data = {};
        data["group_id"] = {{ group.id }};

        $.post(url, data, function() {

            $('#subscribe-button').css('background-color', next_background)
            user_is_subscribed = !user_is_subscribed;
        });
    }
{% endif %}

</script>

    {% if user.is_authenticated %}
        <button type="button" id="subscribe-button">Subscribed</button>
    {% endif %}
    <div id="group-name-nav">
    {% if group.parent %}
        <a id="parent" href="/group/{{ group.parent.url }}">{{ group.parent }}</a>
    {% endif %}
    <h1 id="group-title">{{ group.name }}</h1>
    {% if children %}
        <ul class="child-list">
        {% for child in children %}
            <li><a href="/group/{{ child.url }}">{{ child.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
	
	{# testing tags #}
	<div class="grouptags">
	  {% if group.tags %}
	  <strong>Tags: </strong>
	  {% for tag in group.tags.all %}
	  {{ tag.tag }} 
	  {% endfor %}
	  {% endif %}
	</div>
	
    </div>    
{% endblock %}
