{% extends "base.html" %}

{% block top_content %}
    <h1 id="title">almost there!</h1>
{% endblock %}

{% block main_content %}
    <div class="main-container">
      <div class="container-top-bar">To complete the activation process, just enter your username and password below</div>

        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="activate!" />
        </form>
    </div>

{% endblock %}
