{% extends "base.html" %}

{% block top_content %}
<span id="title"><h1>Account Activation</h1></span>
{% endblock %}

{% block main_content %}
<p>This is the activation page.</p>

<p>Your activation key is {{ activation_key }}.</p>

<p>To activate, please provide the email and password that correspond to this key:</p>

{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Activate!" />
</form>

{% endblock %}
