{% extends "base.html" %}

{% block main_content %}
<p>This is the activation page.</p>

<p>Your activation key is {{ activation_key }}.</p>

<p>To activate, please provide the email and password that correspond to this key:</p>

{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Activate!" />
</form>

{% comment %}
<form class="main-container" action="" method="post">{% csrf_token %}
  <p><label for="username">Email:</label>
    <input type="text" name="username" value="" id="username" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password" />
  </p>
  <p>
    <input type="submit" value="Activate!" />
  </p>
</form>
{% endcomment %}
{% endblock %}
