{% extends "base.html" %}


{% block top_content %}
  <h1 id="title">{% if account %}welcome!{% else %}invalid activation link{% endif %}</h1>
{% endblock %}

{% block main_content %}
    {% if account %}
        <p>Welcome to OneTree! Your account has been successfully activated! To get started, why don't you visit some the groups on the homepage, or search for something you're interested in?</p>
        <p><a href="{% url auth_login %}">"Log in"</a></p>
    {% else %}
        <p class="error-message">Account activation failed. Bad activation key. Try logging in to resend your activation key, or check your email again.</p>
    {% endif %}
{% endblock %}
