{% extends "base_sidebar.html" %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/stylesheets/wall.css" type="text/css" media="screen" />
{% endblock %}

{% block top_content %}
    <div id="group-title-div">
        {% block top_title %}
            {# username or group name #}
        {% endblock %}
    </div>
    {% block calendar %}
        {% include "includes/calendar/cal.html" %}
    {% endblock %}
{% endblock %}

{% block main_content %}
    {% include "includes/wall/wall_display.html" %}
{% endblock %}
