{% extends "base_sidebar.html" %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/stylesheets/wall.css" type="text/css" media="screen" />
    {% if is_tabbed_wall %}
        <link rel="stylesheet" href="/static/stylesheets/tabbed_wall.css" type="text/css" media="screen" />
    {% endif %}
{% endblock %}

{% block left_content %}
    {% include "includes/sidebar/group_sidebar.html" %}
{% endblock %}

{% block top_content %}
    <div id="group-title-div">
        {% block top_title %}
            {# username or group name #}
        {% endblock %}
    </div>
    {% block calendar %}
        {% include "includes/calendar/cal.html" %}
    {% endblock %}
{% endblock %}

{% block main_content %}
    {% if is_group_page %}
        <div class="main-container-navigation-tabs">
            {% include "includes/wall/wall_tabs.html" %}
            <div class="main-container">
                {% include "includes/wall/wall_display.html" %}
            </div>
        </div>
    {% endif %}

    {% if is_newsfeed %}
        <div class="main-container">
            {% include "includes/wall/wall_display.html" %}
        </div>
    {% endif %}
    {% comment %}
        {% if is_groupinfo_page %}
            {% include "includes/groupinfo/groupinfo.html" %}
        {% endif %}
        {% if is_groupphotos_page %}
            {% include "includes/groupphotos/groupphotos.html" %}
        {% endif %}
    {% endcomment %}
{% endblock %}
