<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>{% block title %}Onetree.com{% endblock %}</title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/javascripts/base.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="header">
            {% block header %}
                {# will probably never be changed by any page #}
                {# if user logged in display the logged in bar #}
                {# else display the logged out bar: #}
                <div id="header_logo">
                    - <a href="/">OneTree</a> -
                </div>
                <div id="header_nav">
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="/newsfeed/">News</a></li>
                            <li><a href="/profile/">{{ user.username }}</a></li>
                            <li><a href="/logout/">Logout</a></li>
                            <li><a href="/group-signup/">Group Signup</a></li>
                        {% else %}
                            <li><a href="/user-signup/">Register</a></li>
                            <li><a href="/login/">Login</a></li>
                        {% endif %}
                        <li>Search</li>
                    </ul>
                </div>
            {% endblock %}
        </div>

        <div id="content">
            {% block top_content %}
                {# contains title, arrows, calendar #}
                <span id="title">
                    <h1>Page title</h1>
                </span>
            {% endblock %}
            {% block main_content %}
                {# contains wall, post, and right bar #}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                {# will probably never be changed by any page #}
                Copyright &#169; 2011 Tyler Brown, Ming Loong Chng, Jorge Lugo, Seung Nam, Brian Tubergen
            {% endblock %}
        </div>
    </div>
</body>
</html>
