{% extends "base_wall.html" %}

{% block top_content %}
    <div id="group-name-nav">
    {% if group.parent %}
        <a id="parent" href="/group/{{ group.parent.url }}">{{ group.parent }}</a>
    {% endif %}
    <h1 id="group-title">{{ group.name }}</h1>
    {% if children %}
        <ul class="child-list">
        {% for child in children %}
            <li><a href="/group/{{ child.url }}">{{ child.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    {% comment %}
    <form action="">
      <div align="left"><br>
	<input type="checkbox" name="eventoption" value="event">Event<br>
      </div>

    </form>
    {% endcomment %}

{% endblock %}
