<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{% block title %}Onetree{% endblock %}</title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" media="screen" />
    <script src="/static/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/base.js"></script>
    <script type="text/javascript">
      var max_value; {# global variable for ajax search #}

      // retrieve ajax search results
      function sendValue(str) {
        $.post("{% url ajax_search %}",
          {value: str},
          function(data) {
            var results_box = $('#ajax-search-results');
            var results_box_list = $('#ajax-search-list');
            results_box_list.html('');
            if (! $.isEmptyObject(data)) {
              var num = 0;
              $.each(data, function(index, item) {
                var str = '<a href="/group/'+item.fields.url+'">' +
                  '<li id="ajax-list-' + num + '">' + 
                  item.fields.name + "</li></a>";
                $(str).appendTo("#ajax-search-results ul");
                num++;
              });
              max_value = num - 1;
              results_box.fadeIn("fast");
            }
            else {
              results_box.fadeOut("fast");
            }
          },
          "json"
        )
      }

      // scroll through ajax search list
      function handleSearchKeyDown(isDownKey, isUpKey) {
        if (isDownKey) {
          // doesn't really do anything yet
          if (! this.already_set) {
            this.scroll_index = -1;
            this.already_set = true;
          }
          
          if (this.scroll_index < max_value) {
            if (this.scroll_index >= 0)
              $('#ajax-list-'+this.scroll_index).css('background-color', '#ffffff');
            this.scroll_index++;

            if (this.scroll_index == 0)
              this.old_value = $('#search-bar').attr('value');

            var this_list = $('#ajax-list-'+this.scroll_index);
            this_list.css('background-color', '#eeeeee');
            $('#search-bar').attr('value', $('#ajax-list-'+this.scroll_index).html());
          }
        }
        else if (isUpKey) {
          $('#ajax-list-'+this.scroll_index).css('background-color', '#ffffff');
          if (this.scroll_index >= 0) {
            this.scroll_index--;
            if (this.scroll_index >= 0)
            $('#ajax-list-'+this.scroll_index).css('background-color', '#eeeeee');
          }
          if (this.scroll_index == -1)
            $('#search-bar').focus().attr('value', this.old_value);
          else
            $('#search-bar').focus().attr('value',
              $('#ajax-list-'+this.scroll_index).html());
        }
        else { // some other key
          this.old_value = $('#search-bar').attr('value');
          if (this.already_set) {
            $('#ajax-list-'+this.scroll_index).css('background-color', '#ffffff');
            this.scroll_index = -1;
          }
        }
      }
    </script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        {% block header %}
          {# will probably never be changed by any page #}
          {# if user logged in display the logged in bar #}
          {# else display the logged out bar: #}
          <div id="header_logo">
            <a href="/"><img src="/static/images/tree.png" height="25" width="25" /></a>&nbsp;<a href="/">OneTree</a>
          </div>
          <div id="header_nav">
            <ul>
              {% if user.is_authenticated %}
                <li><a href="/profile/">{{ user.username }}</a></li>
                <li><a href="/news/">News</a>

                  {% if new_notif %}

                    <a href="/notifications/">
                      <span class="new-notif-indicator">
                        <img src="/static/images/colored_star.gif" height="18" width="18" />
                      </span>
                    </a>

                  {% endif %}

                </li>
                <li><a href="/group-signup/">Create Group</a></li>
                <li><a href="/logout/">Logout</a></li>
              {% else %}
                <li><a href="/user-signup/">Register</a></li>
                <li><a href="/login/?next={{ request.get_full_path }}">Login</a></li>
              {% endif %}
              <li>
                <form action='/search/' method='GET'>
                  <input autocomplete="off" id="search-bar" name="query" class="search-bar" type="search" onfocus="if (this.value == &#39;search groups&#39;) { this.value=&#39;&#39;; this.style.color='black' }" value="search groups" onblur="if (this.value == &#39;&#39;) { this.value=&#39;search groups&#39;; this.style.color='gray';} $('#ajax-search-results').fadeOut('fast');" />
                </form>
                <div id="ajax-search-results">
                  <ul id="ajax-search-list">
                    <li>no results</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        {% endblock %}
      </div>

      <div id="content">
        <div id="left-content">
          {% block left_content %}
          {% endblock %}
        </div>
        <div id="right-content">
          <div id="top-content">
            {% block top_content %}
              {# contains title, arrows, calendar #}
              <h1 id="title">Page title</h1>
            {% endblock %}
          </div>
          <div id="main-content">
            {% block main_content %}
              {# contains wall, post, and right bar #}
            {% endblock %}
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>

      <div id="footer">
        {% block footer %}
          {# will probably never be changed by any page #}
          Copyright &#169; 2011 Tyler Brown, Ming Loong Chng, Jorge Lugo, Seung Nam, Brian Tubergen
        {% endblock %}
      </div>
    </div>
  </body>
</html>
