{% extends "base.html" %}

{% block top_content %}
    <h1 id="title">Group Registration</h1>
{% endblock %}

{% block main_content %}
    {% if form.errors %}
        <p class="error-message">One or more fields below are either missing or filled out improperly.</p>
        {% for error in form.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    {% endif %}

    <form class="main-container" action="/group-signup/" method="post">{% csrf_token %}
        {% include "includes/forms/forms.html" %}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
