{% extends "base.html" %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/stylesheets/homepage.css" type="text/css" media="screen" />
{% endblock %}

{% block top_content %}
  <h1 id="title">OneTree</h1>
{% endblock %}

{% block main_content %}
  <div class="main-container container-left">
    <div class="container-top-bar"><strong>Welcome to OneTree!</strong> The new way to organize communities.</div>
    <h3>What is this place?</h3>
    <div class="explanation">OneTree is a brand new site that helps you explore your community by organizing all the sub-communities that comprise it.</div>
    <h3>How does it work?</h3>
    <div class="explanation" style="margin-bottom: 0; padding-bottom: 0;">Take the Princeton community: it's comprised of sub-communities like "Arts" and "Sports," which in turn are comprised of many smaller sub-communities.</div>
    <div class="explanation-image"><img src="/static/images/explanation.gif" width="280" height="300" /></div>
    <div class="explanation">OneTree provides a page to each group or community. By visiting that page, you see an intelligently-sorted aggregate of news from its own sub-communities. Cool!</div>
    <h3>What next?</h3>
    <div class="explanation">Explore the site, or go <a href="/user-signup/">make an account!</a> And please don't hesitate to <a href="mailto:feedback+cos.333.2011@gmail.com">send us feedback</a> -- we're working hard to improve this site!</div>
  </div>

  <div class="main-container container-right-container">
    <div class="main-container container-right-containee">
      <div class="container-top-bar"><strong>{% if user.is_authenticated %}Welcome, {{ user.username }}!{% else %}Login or register!{% endif %}</strong></div>
      {% if user.is_authenticated %}
        <p>View your <a href="/news/">news</a>!</p>
        {% if user.get_profile.subscriptions.all %}
          <p>Groups you've subscribed to:</p>
          <ul style="list-type: none;">
            {% for group in user.get_profile.subscriptions.all %}
              <li><a href="/group/{{ group.url }}">{{ group.name }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Or check the groups below to start exploring!</p>
        {% endif %}
      {% else %}
        <form action="/login/" method="POST">{% csrf_token %}
          <div style="margin-left: 4em;">
            {% include 'includes/authentication/login.html' %}
          </div>
        </form>
        <p style="text-align: center; margin-right: 2em; margin-bottom: 0; margin-top: 2em;">Not a user yet? <a href="/user-signup/"><strong>Sign up now!</strong></a>
        {% endif %}
      </div>
      <div class="main-container container-right-containee">
        <div class="container-top-bar"><strong>Check out some communities!</strong></div>
        {% include 'includes/community_list.html' %}
      </div>
    </div>
  {% endblock %}
