{% extends "base.html" %}

{% block top_content %}
    <span id="title"><h1>User Account Creation</h1></span>
{% endblock %}

{% block main_content %}
    <p style="text-align: center;">[Development version] Warning: Passwords will be shown in plaintext on registration success.</p>


<div class="main-container">
    {% if form.errors %}
        <p class="error-message">One or more fields below are either missing or filled out improperly.</p>
    {% endif %}

<form method="post" action=".">{% csrf_token %}
    {% include "includes/forms/forms.html" %}

  <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}

{% block content %}

{% endblock %}
