{% extends "base.html" %}

{% block top_content %}
  <h1 id="title">{{ user.username }}</h1></span>
{% endblock %}


{% block main_content %}
  <div class="main-container">
    <div class="container-top-bar">
      {% if not active %}
        <strong>Your account is still inactive.</strong> Please check your e-mail for the activation key.
      {% else %}
        <strong>Welcome, {{ user.username }}!</strong> Manage your settings and groups below.
      {% endif %}
    </div>

    <div id="main-content" class="align-left">
      <h3 class="list-title">Account settings</h3>
      <ul class="account-list">
        <li><a href="account/changepwd">Change my password</a></li>
      </ul>

      {% if groups %}
        <h3 class="list-title">Groups you're admin of</h3>
        <ul class="account-list">
          {% for group in groups %}
            <li><a href="/group/{{ group.url }}">{{ group.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

  </p>
</div>
  {% endblock %}
