{% extends "base.html" %}

{% block top_content %}
<span id="title"><h1>{{ user.username }}</h1></span>
{% endblock %}

{% block left_content %}

<strong><p>Subscribed Groups</p></strong>

{% for group in userprofile.subscriptions.all %}
<a href="/group/{{ group }}">{{ group }}</a>

{% empty %}
Not subscribed to any groups at the moment
{% endfor %}




{% endblock %}




{% block main_content %}

{% if not active %}
<p><strong>Your account is still inactive. Please check your e-mail for the activation key.</strong></p>
{% endif %}
<a href="account">Account Management</a>
<p>
  <strong>Name: </strong>{{ user.first_name }} {{ user.last_name }}<br>
  <strong>Email: </strong>{{ user.email }}<br>
</p>

<p>
  {% if groups %}
  <strong>You are currently administering these groups:</strong> <br/>

  <ul class="groups">
    {% for group in groups %}
    <li><a href="/group/{{ group.url }}">{{ group.name }} </a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You are not currently an administrator of any groups.</p>
  {% endif %}

</p>

  {% if inactive_children %}
  <strong>You have children awaiting approval. <a href="approve/">Let me see the groups</a></strong>
  {% else %}
  {# do nothing #}

{% endif %}

{% endblock %}
