{% extends "base.html" %}

{% block top_content %}
  <h1 id="title">forgot password</h1>
{% endblock %}

{% block main_content %}
  <div class="main-container">
    <div class="container-top-bar">
      Don't feel bad. It happens to the best of us.
    </div>
    <p>Just fill out the info below and we'll help reunite you with your account.</p>
    <form action="" method="post">{% csrf_token %}
      {% include 'includes/forms/forms.html' %}
      <input type="submit" value="Submit" />
    </form> 
  </div>
{% endblock %}

